.slide-image-parent {
    height: max-content
}

.bg-caption {
    background-color: #000000a8
}

@media (max-width: 768px) {
    .slide-image-parent {
        height: 300px;
    }
}

@media (min-width: 992px) {
    .slide-image-parent {
        height: 600px;
    }
}

/* 
background-image: linear-gradient(to bottom,
            rgb(220 255 202 / 60%),
            rgb(30 31 30 / 50%)),
        url(../assets/images/homeImg.jpeg); */